{% extends "base.html" %}
{% load static %} 

{% block content %}
    <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
        <div class="col-lg-12">
            <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                    <div class="row">
                        <div class="col-lg-12 banner-wrp">
                            <h2>Invest Smart, Invest Safe, Invest with Us</h2>
                            <p>
                                With a focus on transparency and growth, 
                                we’re here to help you achieve your financial 
                                goals with confidence.
                            </p>
                            <div class="make-payment-btn">
                                {% if request.user.is_authenticated %}
                                <a class="modal2_trigger btn fw-bold" href="{% url 'manage_card' %}" style="box-shadow:0 0 2px 2px #fff;">Cards & Payments &nbsp; <i class="fas fa-credit-card"></i></a>
                                {% else %}
                                <button class="modal_trigger" href="#modal">Get Started &nbsp; <i class="fas fa-sign-in-alt"></i></button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-image wow fadeInRight mt-5 pt-5 pt-lg-0 mt-lg-0" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{% static "images/hero2.png" %}" alt="" />
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>

    <div class="about-us section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="section-heading">
                    <h4>About <em>What We Do</em> &amp; Who We Are</h4>
                    <img src="{% static "images/heading-line-dec.png" %}" alt="" />
                    <p class="aup">
                        AFFLUENCE INVESTMENT is a trusted investment platform 
                        offering a range of secure and guaranteed investment opportunities. 
                        We provide data-driven insights to help you make informed 
                        decisions, guiding you towards achieving your financial 
                        goals with confidence.
                    </p>
                    </div>
                    <div class="row">
                    <div class="col-lg-6">
                        <div class="box-item">
                        <h4>Secured Investment</h4>
                        <p>Trust in us</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item">
                        <h4>Guaranteed ROI</h4>
                        <p>Profit is certain</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item">
                        <h4>Assets Management</h4>
                        <p>You relax, we work</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item">
                        <h4>24/7 Support &amp; Help</h4>
                        <p>Always here for you</p>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-image">
                    <img src="{% static "images/hero4.png" %}" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="invest section">
        <div class="container-fluid">
            <div class="row m-auto">
                <div class="layer"></div>
                <div class="col-lg-3 col-md-6 m-auto">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">Secured Investment</h5>
                            <p class="card-text">Trust in us</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 m-auto">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">Guaranteed ROI</h5>
                            <p class="card-text">Profit is certain</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 m-auto">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">Assets Management</h5>
                            <p class="card-text">You relax, we work</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 m-auto">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">Financial Planning</h5>
                            <p class="card-text">Plan your future</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
{% endblock content %}
