{% extends "base.html" %}
{% load static %} 

{% block content %}
    <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 align-self-center">
                            <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                                <div class="row">
                                    <div class="col-lg-12 banner-wrp">
                                        <h2>Invest Smart, Invest Safe, Invest with Us</h2>
                                        <p>
                                            With a focus on transparency and growth, 
                                            we’re here to help you achieve your financial 
                                            goals with confidence.
                                        </p>
                                        <div class="make-payment-btn">
                                            {% if request.user.is_authenticated %}
                                            <a class="modal2_trigger btn fw-bold" href="{% url 'manage_card' %}" style="box-shadow:0 0 2px 2px #fff;">Cards & Payments &nbsp; <i class="fas fa-credit-card"></i></a>
                                            {% else %}
                                            <button class="modal_trigger" href="#modal">Get Started &nbsp; <i class="fas fa-sign-in-alt"></i></button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="col-lg-6">
                        <div class="right-image wow fadeInRight mt-5 pt-5 pt-lg-0 mt-lg-0" data-wow-duration="1s" data-wow-delay="0.5s">
                        <img src="{% static "images/hero2.png" %}" alt="" />
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-us section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="section-heading">
                    <h4>About <em>What We Do</em> &amp; Who We Are</h4>
                    <img src="{% static "images/heading-line-dec.png" %}" alt="" />
                    <p class="aup">
                        AFFLUENCE INVESTMENT is a trusted investment platform 
                        offering a range of secure and guaranteed investment opportunities. 
                        We provide data-driven insights to help you make informed 
                        decisions, guiding you towards achieving your financial 
                        goals with confidence.
                    </p>
                    </div>
                    <div class="row">
                    <div class="col-lg-6">
                        <div class="box-item text-center">
                            <img src="{% static "images/secured-investment.png" %}"/>
                            <h4>Secured Investment</h4>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item text-center">
                            <img src="{% static "images/roi.png" %}"/>
                            <h4>Guaranteed ROI</h4>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item text-center">
                            <img src="{% static "images/asset-management.png" %}"/>
                            <h4>Assets Management</h4>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item text-center">
                            <img src="{% static "images/support.png" %}"/>
                            <h4>24/7 Support &amp; Help</h4>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-6 my-auto">
                    <div class="right-image">
                        <img src="{% static "images/hero4.png" %}" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="why-us section mt-5 py-lg-3">
        <div class="container-fluid px-0">
            <div class="row justify-content-center p-5">
                <div class="layer"></div>
                <div class="col-12 position-relative">
                <div class="">
                    <h2 class="text-center mb-4 text-white">Why Choose Affluence Investment...?</h2>
                    <p class="text-white">
                        Affluence Investment is a leading investment platform dedicated to helping individuals and businesses achieve their financial goals. Our platform offers a range of secure and guaranteed investment opportunities designed to provide consistent returns and peace of mind. With a team of experienced financial experts and cutting-edge technology, we ensure that your investments are managed with the highest level of professionalism and transparency.
                    </p>
                    <p class="text-white">
                        We understand that trust is paramount when it comes to investing your hard-earned money. That's why we prioritize security and reliability in all our investment offerings. Our platform is built on robust security protocols to protect your data and assets, and we provide regular updates and insights to keep you informed about your investments' performance.
                    </p>
                    <p class="text-white">
                        At Affluence Investment, we are committed to delivering guaranteed profits to our clients. Our investment strategies are backed by thorough research and analysis, ensuring that you receive the best possible returns on your investments. Whether you are a seasoned investor or just starting, our platform is designed to cater to your unique needs and help you grow your wealth with confidence.
                    </p>
                    <p class="text-white">
                        Join Affluence Investment today and take the first step towards a secure and prosperous financial future. With our expert guidance and guaranteed profit opportunities, you can achieve your financial goals and enjoy peace of mind knowing that your investments are in safe hands.
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section my-4 py-0 my-md-5 py-md-2">
        <h4 class="p-0 px-4 m-0 mb-4 text-center" style="color:#062553;">Trusted by world-class investment and research teams</h4>
        <div class="container-fluid px-0">
            <div class="marquee">
                <div class="m-layer"></div>
                <ul class="marquee-content">
                    <li><img src="https://imgur.com/bRLrW9o.png"></li>
                    <li><img src="https://imgur.com/rgnlDBK.png"></li>
                    <li><img src="https://imgur.com/xfVozpR.png"></li>
                    <li><img src="https://imgur.com/hw7HLFt.png"></li>
                    <li><img src="https://imgur.com/QZhNFuq.png"></li>
                    <li><img src="https://imgur.com/ZFLwhdY.png"></li>
                    <li><img src="https://imgur.com/ux10D0l.png"></li>
                    <li><img src="https://imgur.com/4tSMyZT.png"></li>
                    <li><img src="https://imgur.com/jESEpVx.png"></li>
                    <li><img src="https://imgur.com/qRQpfeW.png"></li>
                    <li><img src="https://imgur.com/bRLrW9o.png"></li>
                    <li><img src="https://imgur.com/rgnlDBK.png"></li>
                    <li><img src="https://imgur.com/xfVozpR.png"></li>
                    <li><img src="https://imgur.com/hw7HLFt.png"></li>
                    <li><img src="https://imgur.com/QZhNFuq.png"></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="charts flex-container">
        <div class="flex-item">
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                {% comment %} <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div> {% endcomment %}
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-timeline.js" async>
                {
                    "feedMode": "all_symbols",
                    "isTransparent": false,
                    "displayMode": "regular",
                    "width": "100%",
                    "height": "100%",
                    "colorTheme": "dark",
                    "locale": "en"
                }
                </script>
            </div>
        </div>
        <div class="flex-item">
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                {% comment %} <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div> {% endcomment %}
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
                    {
                    "title": "Cryptocurrencies",
                    "title_raw": "Cryptocurrencies",
                    "tabs": [
                    {
                        "title": "Overview",
                        "title_raw": "Overview",
                        "symbols": [
                        {
                            "s": "CRYPTOCAP:TOTAL"
                        },
                        {
                            "s": "BITSTAMP:BTCUSD"
                        },
                        {
                            "s": "BITSTAMP:ETHUSD"
                        },
                        {
                            "s": "FTX:SOLUSD"
                        },
                        {
                            "s": "BINANCE:AVAXUSD"
                        },
                        {
                            "s": "COINBASE:UNIUSD"
                        }
                        ],
                        "quick_link": {
                        "title": "More cryptocurrencies",
                        "href": "/markets/cryptocurrencies/prices-all/"
                        }
                    },
                    {
                        "title": "Bitcoin",
                        "title_raw": "Bitcoin",
                        "symbols": [
                        {
                            "s": "BITSTAMP:BTCUSD"
                        },
                        {
                            "s": "COINBASE:BTCEUR"
                        },
                        {
                            "s": "COINBASE:BTCGBP"
                        },
                        {
                            "s": "BITFLYER:BTCJPY"
                        },
                        {
                            "s": "CME:BTC1!"
                        }
                        ],
                        "quick_link": {
                        "title": "More Bitcoin pairs",
                        "href": "/symbols/BTCUSD/markets/"
                        }
                    },
                    {
                        "title": "Ethereum",
                        "title_raw": "Ethereum",
                        "symbols": [
                        {
                            "s": "BITSTAMP:ETHUSD"
                        },
                        {
                            "s": "KRAKEN:ETHEUR"
                        },
                        {
                            "s": "COINBASE:ETHGBP"
                        },
                        {
                            "s": "BITFLYER:ETHJPY"
                        },
                        {
                            "s": "BINANCE:ETHBTC"
                        },
                        {
                            "s": "BINANCE:ETHUSDT"
                        }
                        ],
                        "quick_link": {
                        "title": "More Ethereum pairs",
                        "href": "/symbols/ETHUSD/markets/"
                        }
                    },
                    {
                        "title": "Solana",
                        "title_raw": "Solana",
                        "symbols": [
                        {
                            "s": "FTX:SOLUSD"
                        },
                        {
                            "s": "BINANCE:SOLEUR"
                        },
                        {
                            "s": "COINBASE:SOLGBP"
                        },
                        {
                            "s": "BINANCE:SOLBTC"
                        },
                        {
                            "s": "HUOBI:SOLETH"
                        },
                        {
                            "s": "BINANCE:SOLUSDT"
                        }
                        ],
                        "quick_link": {
                        "title": "More Solana pairs",
                        "href": "/symbols/SOLUSD/markets/"
                        }
                    },
                    {
                        "title": "Uniswap",
                        "title_raw": "Uniswap",
                        "symbols": [
                        {
                            "s": "COINBASE:UNIUSD"
                        },
                        {
                            "s": "KRAKEN:UNIEUR"
                        },
                        {
                            "s": "COINBASE:UNIGBP"
                        },
                        {
                            "s": "BINANCE:UNIBTC"
                        },
                        {
                            "s": "KRAKEN:UNIETH"
                        },
                        {
                            "s": "BINANCE:UNIUSDT"
                        }
                        ],
                        "quick_link": {
                        "title": "More Uniswap pairs",
                        "href": "/symbols/UNIUSD/markets/"
                        }
                    }
                    ],
                    "title_link": "/markets/cryptocurrencies/prices-all/",
                    "width": "100%",
                    "height": "100%",
                    "showChart": true,
                    "showFloatingTooltip": false,
                    "locale": "en",
                    "plotLineColorGrowing": "#2962FF",
                    "plotLineColorFalling": "#2962FF",
                    "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
                    "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
                    "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
                    "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
                    "gridLineColor": "rgba(240, 243, 250, 0)",
                    "scaleFontColor": "rgba(120, 123, 134, 1)",
                    "showSymbolLogo": true,
                    "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
                    "colorTheme": "light"
                }
                </script>
            </div>
        </div>
        <div class="flex-item">
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                {% comment %} <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div> {% endcomment %}
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
                    {
                        "title": "Currencies",
                        "tabs": [
                        {
                            "title": "Major",
                            "title_raw": "Major",
                            "symbols": [
                            {
                                "s": "FX_IDC:EURUSD",
                                "d": "EUR to USD"
                            },
                            {
                                "s": "FX_IDC:USDJPY",
                                "d": "USD to JPY"
                            },
                            {
                                "s": "FX_IDC:GBPUSD",
                                "d": "GBP to USD"
                            },
                            {
                                "s": "FX_IDC:AUDUSD",
                                "d": "AUD to USD"
                            },
                            {
                                "s": "FX_IDC:USDCAD",
                                "d": "USD to CAD"
                            },
                            {
                                "s": "FX_IDC:USDCHF",
                                "d": "USD to CHF"
                            }
                            ],
                            "quick_link": {
                            "title": "More majors",
                            "href": "/markets/currencies/rates-major/"
                            }
                        },
                        {
                            "title": "Minor",
                            "title_raw": "Minor",
                            "symbols": [
                            {
                                "s": "FX_IDC:EURGBP",
                                "d": "EUR to GBP"
                            },
                            {
                                "s": "FX_IDC:EURJPY",
                                "d": "EUR to JPY"
                            },
                            {
                                "s": "FX_IDC:GBPJPY",
                                "d": "GBP to JPY"
                            },
                            {
                                "s": "FX_IDC:CADJPY",
                                "d": "CAD to JPY"
                            },
                            {
                                "s": "FX_IDC:GBPCAD",
                                "d": "GBP to CAD"
                            },
                            {
                                "s": "FX_IDC:EURCAD",
                                "d": "EUR to CAD"
                            }
                            ],
                            "quick_link": {
                            "title": "More minors",
                            "href": "/markets/currencies/rates-minor/"
                            }
                        },
                        {
                            "title": "Exotic",
                            "title_raw": "Exotic",
                            "symbols": [
                            {
                                "s": "FX_IDC:USDSEK",
                                "d": "USD to SEK"
                            },
                            {
                                "s": "FX_IDC:USDMXN",
                                "d": "USD to MXN"
                            },
                            {
                                "s": "FX_IDC:USDZAR",
                                "d": "USD to ZAR"
                            },
                            {
                                "s": "FX_IDC:EURTRY",
                                "d": "EUR to TRY"
                            },
                            {
                                "s": "FX_IDC:EURNOK",
                                "d": "EUR to NOK"
                            },
                            {
                                "s": "FX_IDC:GBPPLN",
                                "d": "GBP to PLN"
                            }
                            ],
                            "quick_link": {
                            "title": "More exotics",
                            "href": "/markets/currencies/rates-exotic/"
                            }
                        }
                        ],
                        "title_link": "/markets/currencies/rates-major/",
                        "width": "100%",
                        "height": "100%",
                        "showChart": true,
                        "showFloatingTooltip": false,
                        "locale": "en",
                        "plotLineColorGrowing": "#2962FF",
                        "plotLineColorFalling": "#2962FF",
                        "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
                        "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
                        "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
                        "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
                        "gridLineColor": "rgba(240, 243, 250, 0)",
                        "scaleFontColor": "rgba(120, 123, 134, 1)",
                        "showSymbolLogo": true,
                        "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
                        "colorTheme": "light"
                    }
                </script>
            </div>
        </div>
        <div class="flex-item">
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                {% comment %} <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div> {% endcomment %}
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
                {
                    "title": "Stocks",
                    "tabs": [
                    {
                        "title": "Financial",
                        "symbols": [
                        {
                            "s": "NYSE:JPM",
                            "d": "JPMorgan Chase"
                        },
                        {
                            "s": "NYSE:WFC",
                            "d": "Wells Fargo Co New"
                        },
                        {
                            "s": "NYSE:BAC",
                            "d": "Bank Amer Corp"
                        },
                        {
                            "s": "NYSE:HSBC",
                            "d": "Hsbc Hldgs Plc"
                        },
                        {
                            "s": "NYSE:C",
                            "d": "Citigroup Inc"
                        },
                        {
                            "s": "NYSE:MA",
                            "d": "Mastercard Incorporated"
                        }
                        ]
                    },
                    {
                        "title": "Technology",
                        "symbols": [
                        {
                            "s": "NASDAQ:AAPL",
                            "d": "Apple"
                        },
                        {
                            "s": "NASDAQ:GOOGL",
                            "d": "Alphabet"
                        },
                        {
                            "s": "NASDAQ:MSFT",
                            "d": "Microsoft"
                        },
                        {
                            "s": "NASDAQ:FB",
                            "d": "Meta Platforms"
                        },
                        {
                            "s": "NYSE:ORCL",
                            "d": "Oracle Corp"
                        },
                        {
                            "s": "NASDAQ:INTC",
                            "d": "Intel Corp"
                        }
                        ]
                    },
                    {
                        "title": "Services",
                        "symbols": [
                        {
                            "s": "NASDAQ:AMZN",
                            "d": "Amazon"
                        },
                        {
                            "s": "NYSE:BABA",
                            "d": "Alibaba Group Hldg Ltd"
                        },
                        {
                            "s": "NYSE:T",
                            "d": "At&t Inc"
                        },
                        {
                            "s": "NYSE:WMT",
                            "d": "Walmart"
                        },
                        {
                            "s": "NYSE:V",
                            "d": "Visa"
                        }
                        ]
                    }
                    ],
                    "width": "100%",
                    "height": "100%",
                    "showChart": true,
                    "showFloatingTooltip": false,
                    "locale": "en",
                    "plotLineColorGrowing": "#2962FF",
                    "plotLineColorFalling": "#2962FF",
                    "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
                    "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
                    "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
                    "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
                    "gridLineColor": "rgba(240, 243, 250, 0)",
                    "scaleFontColor": "rgba(120, 123, 134, 1)",
                    "showSymbolLogo": true,
                    "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
                    "colorTheme": "light"
                }
                </script>
            </div>
        </div>
        <div class="flex-item shadow-none d-none d-lg-flex"></div>
        <div class="flex-item shadow-none d-none d-lg-flex"></div>
    </div>

    <div class="invest section mt-5">
        <div class="container-fluid px-0">
            <div class="row m-auto">
                <div class="layer"></div>
                <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0 m-auto">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">Basic Plan</h5>
                            <p class="card-text">Daily Percentage: 1%</p>
                            <p class="card-text">Minimum Investment Period: 30 days</p>
                            <p class="card-text">Minimum Investment Amount: $100</p>
                            <a href="#" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0 m-auto">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">Standard Plan</h5>
                            <p class="card-text">Daily Percentage: 1.5%</p>
                            <p class="card-text">Minimum Investment Period: 60 days</p>
                            <p class="card-text">Minimum Investment Amount: $500</p>
                            <a href="#" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0 m-auto">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">Premium Plan</h5>
                            <p class="card-text">Daily Percentage: 2%</</p>
                            <p class="card-text">Minimum Investment Period: 90 days</p>
                            <p class="card-text">Minimum Investment Amount: $1000</p>
                            <a href="#" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0 m-auto">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">Ultimate Plan</h5>
                            <p class="card-text">Daily Percentage: 2.5%</p>
                            <p class="card-text">Minimum Investment Period: 120 days</p>
                            <p class="card-text">Minimum Investment Amount: $5000</p>
                            <a href="#" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section mt-5 py-lg-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <h2 class="text-center mb-4">Frequently Asked Questions</h2>
                    <div class="accordion" id="faqAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    What is Affluence Investment?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    Affluence Investment is a trusted investment platform offering a range of secure and guaranteed investment opportunities.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    How do I start investing?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    To start investing, simply sign up on our platform, verify your account, and choose an investment plan that suits your needs.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Is my investment secure?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    Yes, all investments are secured and guaranteed by our platform.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    What is the minimum investment amount?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    The minimum investment amount varies depending on the investment plan you choose. Please refer to our investment plans for more details.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    How can I withdraw my earnings?
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    You can withdraw your earnings at any time by requesting a withdrawal through your account dashboard.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Do you offer customer support?
                                </button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    Yes, we offer 24/7 customer support to assist you with any questions or issues you may have.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSeven">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    How can I contact support?
                                </button>
                            </h2>
                            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    You can contact our support team through the contact form on our website or by emailing support@affluenceinvestment.com.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="testimonial col-12 col-md-6 p-5 mt-5 mt-md-0">
                    <div class="layer"></div>
                    <div class="position-relative text-center mb-5 w-100">
                        <h2>What Our Clients Say</h2>
                    </div>
                    <div id="testimonialCarousel" class="carousel slide position-relative" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card shadow">
                                    <div class="card-body">
                                        <p class="card-text">"As someone who has always been cautious about investments, I was initially hesitant to trust any firm with my savings. However, after working with Affluence Investment, I can confidently say I made the right decision. Their personalized approach and insightful advice have truly transformed my financial outlook. Highly recommend them!"</p>
                                        <h5 class="card-title">- Sarah Patel, London, UK </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card shadow">
                                    <div class="card-body">
                                        <p class="card-text">"The team made investing easy to understand and helped me achieve my financial goals faster than I expected. They’re knowledgeable, transparent, and truly care about their clients. It’s been a great experience, and I look forward to continuing our partnership."</p>
                                        <h5 class="card-title">- Carlos Mendoza, Buenos Aires, Argentina</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card shadow">
                                    <div class="card-body">
                                        <p class="card-text">"I've worked with several investment companies in the past, but none have provided the level of service and success that Affluence Investment has. They truly go above and beyond to ensure your portfolio is well-managed. I'm so pleased with the results so far."</p>
                                        <h5 class="card-title">- Emily Wu, Sydney, Australia</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card shadow">
                                    <div class="card-body">
                                        <p class="card-text">"What I love most about Affluence Investment is their clear communication and commitment to helping their clients achieve financial independence. I feel confident and well-informed every step of the way."</p>
                                        <h5 class="card-title">- Mohammed Al-Farsi, Dubai, UAE</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card shadow">
                                    <div class="card-body">
                                        <p class="card-text">"I was new to investing when I reached out to Affluence Investment, and they guided me through every step. Their team is friendly, professional, and they genuinely care about helping you succeed. I’m thrilled with the results!"</p>
                                        <h5 class="card-title">- John Roberts, Toronto, Canada</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
