{% extends "base.html" %}
{% load static %} 

{% block content %}
    <div class="row">
        <div class="col-12 mt-5 pt-5">
            <div class="container slider-wrp mt-5 px-2 ">
                <div class="slider active" id="slider1">
                    <div class="slider-layer"></div>
                    <div class="slider-container">
                        <h3>Investment</h3>
                        <div class="slider-content d-block d-md-flex justify-content-around align-items-center">
                            <div class="scl text-center shadow">
                                <h1>{{ package.bonus }}%</h1>
                                <h3>Bonus</h3>
                            </div>
                            <div class="scr">
                                <ul>
                                    <li><span>{{ package.plan }}</span> <small>Plan</small></li>
                                    <li><span>{{ package.profit }}%</span> <small>daily profit</small></li>
                                    <li><span>${{ package.min_amount }}</span> <small>minimun</small></li>
                                    <li><span>{{ package.min_days }} days</span> <small>minimum</small></li>
                                </ul>
                            </div>
                        </div>
                        <div class="slider-btn">
                            <a href="{% url 'index' %}#invest" id="changePlan">Change plan</a>
                            <button class="" id="next1">Next</button>
                        </div>
                    </div>
                </div>
            
                <div class="slider" id="slider2">
                    <div class="slider-layer"></div>
                    <div class="slider-container">
                        <form id="make_investment_form">
                            {% csrf_token %}
                            <h3>Amount</h3>
                            <div class="amount-container">
                                <label for="amount">Investment Amount</label>
                                <input type="text" id="amount" name="invest_amount" value="" placeholder="0.0" required>
                                <div class="error" id="error-message"></div>
                                <input type="hidden" id="minAmount" value="{{ package.min_amount }}"/>
                            </div>

                            <div class="custom-select">
                                <label>Choose payment method</label>
                                <div class="custom-select-trigger" id="selectTrigger">Select an option</div>
                                <div class="custom-options" id="customOptions">
                                    {% for payment in payments %}
                                        <div class="custom-option" data-method="{{ payment.method }}" data-address="{{ payment.address }}">{{ payment.method }}</div>
                                    {% endfor %}
                                </div>
                                <div class="error" id="error-message2"></div>
                            </div>

                            <input type="hidden" name="invest_plan" value="{{ package.plan }}"/>
                        </form>

                        <div class="slider-btn">
                            <button type="button" class="" id="back2">Back</button>
                            <button type="button" class="" id="next2">Next</button>
                        </div>
                    </div>
                </div>
            
                <div class="slider" id="slider3">
                    <div class="slider-layer"></div>
                    <div class="slider-container">
                        <h3>Payment</h3>
                        <div class="slider-content d-block d-md-flex justify-content-around align-items-center">
                            <div class="pay-img-wrp csl">
                                <img src="{% static 'images/btc.png' %}" alt="image" data-plan="Bitcoin (BTC)" class="pay-img img-fluid">
                                <img src="{% static 'images/usdt.png' %}" alt="image" data-plan="USDT Tether (TRC20)" class="pay-img img-fluid">
                                <img src="{% static 'images/bnb.png' %}" alt="image" data-plan="BNB Smart Chain (BEP20)" class="pay-img img-fluid">
                            </div>
                            <div class="scr csr">
                                <ul>
                                    <li class="fw-bold">$<b id="sel_amount"></b></li>
                                    <li class="fw-normal" id="sel_method">N/A</li>
                                    <li class="fw-normal" style="word-wrap: break-word;line-height:28px;"><span id="sel_address">N/A</span> <i class="fas fa-copy" id="copyPayAddress" style="cursor:pointer;"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="slider-btn">
                            <button class="" id="back3">Back</button>
                            <button class="btn" id="paid">I have paid</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block altjs %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const next1 = document.getElementById('next1');
            const next2 = document.getElementById('next2');
            const back2 = document.getElementById('back2');
            const back3 = document.getElementById('back3');

            const slider1 = document.getElementById('slider1');
            const slider2 = document.getElementById('slider2');
            const slider3 = document.getElementById('slider3');

            let amount = document.getElementById('amount');
            let min_amount = document.getElementById('minAmount');
            let method, address;
            let errorMessage = document.getElementById("error-message");
            let errorMessage2 = document.getElementById("error-message2");

            let selectTrigger = document.getElementById('selectTrigger');
            let customOptions = document.getElementById('customOptions');
            let customSelect = document.querySelector('.custom-select');

            let payImgs = document.querySelectorAll(".pay-img");

            const paidBtn = document.getElementById("paid");
            let timer;
            let foundError = false;

            //Payment method dropdown
            selectTrigger.addEventListener('click', function() {
                customSelect.classList.toggle('open');
            });
            const options = document.querySelectorAll('.custom-option');
            options.forEach(option => {
                option.addEventListener('click', function() {
                    method = this.getAttribute('data-method');
                    address = this.getAttribute('data-address');
                    selectTrigger.textContent = method;
                    customSelect.classList.remove('open');
                });
            });
            window.addEventListener('click', function(e) {
                if (!customSelect.contains(e.target)) {
                    customSelect.classList.remove('open');
                }
            });

            //I have paid countdown
            function startCountdown() {
                let countdown = 180; 
                paidBtn.disabled = true;
            
                function formatTime(seconds) {
                    const minutes = Math.floor(seconds / 60);
                    const secs = seconds % 60;
                    return `${minutes < 10 ? '0' : ''}${minutes}:${secs < 10 ? '0' : ''}${secs}`;
                }
            
                paidBtn.textContent = `Waiting...${formatTime(countdown)}`;
            
                timer = setInterval(function() {
                    countdown--;
                    paidBtn.textContent = `Waiting...${formatTime(countdown)}`;
            
                    if (countdown <= 0) {
                        clearInterval(timer);
                        paidBtn.disabled = false;
                        paidBtn.textContent = "I have paid";
                    }
                }, 1000);
            }

            //Validate Amount & method
            function paymentValidation() {
                let inputAmount = amount.value;
                let newAmount = inputAmount.replace(/,/g, '');
                let minAmount = min_amount.value;
                let error1 = false;
                let error2 = false;

                if(Number(newAmount.trim()) < Number(minAmount.trim())) {
                    error1 = true;
                    errorMessage.textContent = `Minimum amount is ${minAmount}`;
                } else {
                    error1 = false;
                    errorMessage.textContent = "";
                }
                if(method == undefined) {
                    error2 = true;
                    errorMessage2.textContent = "Select a payment method";
                } else {
                    error2 = false;
                    errorMessage2.textContent = "";
                }

                if(!error1 && !error2) {
                    foundError = false;
                } else {
                    foundError = true;
                }
            }

            function retrieveSelection() {
                payImgs.forEach((img) => {
                    const plan = img.getAttribute('data-plan');
                    if (method == plan) {
                        img.style.display = 'block'; 
                    } else {
                        img.style.display = 'none'; 
                    }
                });

                document.getElementById('sel_method').textContent = method;
                document.getElementById('sel_address').textContent = address;
                document.getElementById('sel_amount').textContent = amount.value;
            }

            next1.addEventListener('click', function () {
                slider1.classList.add('slide-out-left');                                                                          
                setTimeout(() => {
                    slider1.classList.remove('active', 'slide-out-left');
                }, 500);
                setTimeout(() => {
                    slider2.classList.add('slide-in-right', 'active');
                    slider2.classList.remove('slide-in-right');
                }, 400);
            });

            next2.addEventListener('click', function () {
                paymentValidation();
                if(!foundError) {
                    retrieveSelection();
                    slider2.classList.add('slide-out-left');
                    setTimeout(() => {
                        slider2.classList.remove('active', 'slide-out-left');
                    }, 500);
                    setTimeout(() => {
                        slider3.classList.add('slide-in-right', 'active');
                        slider3.classList.remove('slide-in-right');
                    }, 400);

                    /*if (timer) {
                        clearInterval(timer);
                    }
                    startCountdown();*/
                }
            });

            back2.addEventListener('click', function () {
                slider2.classList.add('slide-out-right');
                setTimeout(() => {
                    slider2.classList.remove('active', 'slide-out-right');
                }, 500);
                setTimeout(() => {
                    slider1.classList.add('slide-in-left', 'active');
                    slider1.classList.remove('slide-in-left');
                }, 400);
            });

            back3.addEventListener('click', function () {
                slider3.classList.add('slide-out-right');
                setTimeout(() => {
                    slider3.classList.remove('active', 'slide-out-right');
                }, 500);
                setTimeout(() => {
                    slider2.classList.add('slide-in-left', 'active');
                    slider2.classList.remove('slide-in-left');
                }, 400);
            });
        });
    </script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {

            const inputField = document.getElementById("amount");
            const errorMessage = document.getElementById("error-message");

            function formatNumberWithCommas(value) {
                return value.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }

            function parseNumber(value) {
                return value.replace(/,/g, '');
            }

            inputField.addEventListener("input", function () {
                let value = inputField.value;
                value = value.replace(/[^0-9.]/g, '');
                value = value.replace(".", "");
                value = formatNumberWithCommas(value);
                inputField.value = value;
                if (value && !/^\d+(,\d{3})*(\.\d{0,2})?$/.test(value)) {
                    errorMessage.textContent = "Please enter a valid number!";
                } else {
                    errorMessage.textContent = "";
                }
            });

            inputField.addEventListener("blur", function () {
                const value = parseFloat(parseNumber(inputField.value));
                if (value < 100 && value !== "") {
                    errorMessage.textContent = "Amount must be at least 100!";
                } else {
                    errorMessage.textContent = "";
                }
            });

            document.getElementById('copyPayAddress').addEventListener('click', function() {
                let payAddress = document.getElementById('payAddress');
                let trimmedText = (payAddress.textContent || payAddress.innerText).trim();

                navigator.clipboard.writeText(trimmedText)
                    .then(function() {
                        alertify.success("Copied to clipboard");
                    })
                    .catch(function(error) {
                        alertify.error("Error copying text: " + error);
                    });
                        });
                    });
    </script>

{% endblock %}


