{% extends "base.html" %}
{% load static %} 

{% block content %}
    <div class="row">
        <div class="col-12 mt-5 pt-3 pt-md-4 pt-lg-5">
            <div class="container mt-5">
                <h1 class="text-center mb-4">Terms and Conditions</h1>
                <p class="mb-4">Welcome to Stapfund Investment. These terms and conditions outline the rules and regulations for the use of our website and services. By accessing this website, we assume you accept these terms and conditions in full. Do not continue to use Stapfund Investment's website if you do not accept all of the terms and conditions stated on this page.</p>

                <h2>Introduction</h2>
                <p class="mb-4">These terms and conditions govern your use of this website; by using this website, you accept these terms and conditions in full. If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website.</p>

                <h2>License to Use Website</h2>
                <p>Unless otherwise stated, Stapfund Investment and/or its licensors own the intellectual property rights published on this website and materials used on Stapfund Investment. Subject to the license below, all these intellectual property rights are reserved.</p>
                <p>You may view, download for caching purposes only, and print pages, files, or other content from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.</p>
                <p>You must not:</p>
                <ul class="mb-4">
                    <li>Republish material from this website (including republication on another website).</li>
                    <li>Sell, rent, or sub-license material from the website.</li>
                    <li>Show any material from the website in public.</li>
                    <li>Reproduce, duplicate, copy, or otherwise exploit material on this website for a commercial purpose.</li>
                    <li>Edit or otherwise modify any material on the website.</li>
                    <li>Redistribute material from this website, except for content specifically and expressly made available for redistribution.</li>
                </ul>

                <h2>Acceptable Use</h2>
                <p>You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent, or harmful, or in connection with any unlawful, illegal, fraudulent, or harmful purpose or activity.</p>
                <p>You must not use this website to copy, store, host, transmit, send, use, publish, or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit, or other malicious computer software.</p>
                <p  class="mb-4">You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction, and data harvesting) on or in relation to this website without Stapfund Investment's express written consent.</p>

                <h2>Restricted Access</h2>
                <p>Access to certain areas of this website is restricted. Stapfund Investment reserves the right to restrict access to other areas of this website, or indeed this entire website, at Stapfund Investment's discretion.</p>
                <p>If Stapfund Investment provides you with a user ID and password to enable you to access restricted areas of this website or other content or services, you must ensure that the user ID and password are kept confidential.</p>
                <p  class="mb-4">Stapfund Investment may disable your user ID and password in Stapfund Investment's sole discretion without notice or explanation.</p>

                <h2>User Content</h2>
                <p>In these terms and conditions, "your user content" means material (including without limitation text, images, audio material, video material, and audio-visual material) that you submit to this website, for whatever purpose.</p>
                <p>You grant to Stapfund Investment a worldwide, irrevocable, non-exclusive, royalty-free license to use, reproduce, adapt, publish, translate, and distribute your user content in any existing or future media. You also grant to Stapfund Investment the right to sub-license these rights, and the right to bring an action for infringement of these rights.</p>
                <p>Your user content must not be illegal or unlawful, must not infringe any third party's legal rights, and must not be capable of giving rise to legal action whether against you or Stapfund Investment or a third party (in each case under any applicable law).</p>
                <p>You must not submit any user content to the website that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaints.</p>
                <p>Stapfund Investment reserves the right to edit or remove any material submitted to this website, or stored on Stapfund Investment's servers, or hosted or published upon this website.</p>
                <p class="mb-4">Notwithstanding Stapfund Investment's rights under these terms and conditions in relation to user content, Stapfund Investment does not undertake to monitor the submission of such content to, or the publication of such content on, this website.</p>

                <h2>No Warranties</h2>
                <p>This website is provided "as is" without any representations or warranties, express or implied. Stapfund Investment makes no representations or warranties in relation to this website or the information and materials provided on this website.</p>
                <p>Without prejudice to the generality of the foregoing paragraph, Stapfund Investment does not warrant that:</p>
                <ul class="mb-4">
                    <li>This website will be constantly available, or available at all.</li>
                    <li>The information on this website is complete, true, accurate, or non-misleading.</li>
                </ul>

                <h2>Limitations of Liability</h2>
                <p>Stapfund Investment will not be liable to you (whether under the law of contact, the law of torts, or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:</p>
                <ul class="mb-4">
                    <li>To the extent that the website is provided free-of-charge, for any direct loss.</li>
                    <li>For any indirect, special, or consequential loss.</li>
                    <li>For any business losses, loss of revenue, income, profits, or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.</li>
                </ul>

                <h2>Exceptions</h2>
                <p>Nothing in this website disclaimer will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit Stapfund Investment's liability in respect of any:</p>
                <ul class="mb-4">
                    <li>Death or personal injury caused by Stapfund Investment's negligence.</li>
                    <li>Fraud or fraudulent misrepresentation on the part of Stapfund Investment.</li>
                    <li>Matter which it would be illegal or unlawful for Stapfund Investment to exclude or limit, or to attempt or purport to exclude or limit, its liability.</li>
                </ul>

                <h2>Reasonableness</h2>
                <p>By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.</p>
                <p class="mb-4">If you do not think they are reasonable, you must not use this website.</p>

                <h2>Other Parties</h2>
                <p>You accept that, as a limited liability entity, Stapfund Investment has an interest in limiting the personal liability of its officers and employees. You agree that you will not bring any claim personally against Stapfund Investment's officers or employees in respect of any losses you suffer in connection with the website.</p>
                <p class="mb-4">Without prejudice to the foregoing paragraph, you agree that the limitations of warranties and liability set out in this website disclaimer will protect Stapfund Investment's officers, employees, agents, subsidiaries, successors, assigns, and sub-contractors as well as Stapfund Investment.</p>

                <h2>Unenforceable Provisions</h2>
                <p class="mb-4">If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.</p>

                <h2>Indemnity</h2>
                <p class="mb-4">You hereby indemnify Stapfund Investment and undertake to keep Stapfund Investment indemnified against any losses, damages, costs, liabilities, and expenses (including without limitation legal expenses and any amounts paid by Stapfund Investment to a third party in settlement of a claim or dispute on the advice of Stapfund Investment's legal advisers) incurred or suffered by Stapfund Investment arising out of any breach by you of any provision of these terms and conditions, or arising out of any claim that you have breached any provision of these terms and conditions.</p>

                <h2>Breaches of These Terms and Conditions</h2>
                <p class="mb-4">Without prejudice to Stapfund Investment's other rights under these terms and conditions, if you breach these terms and conditions in any way, Stapfund Investment may take such action as Stapfund Investment deems appropriate to deal with the breach, including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing the website, contacting your internet service provider to request that they block your access to the website, and/or bringing court proceedings against you.</p>

                <h2>Variation</h2>
                <p class="mb-4">Stapfund Investment may revise these terms and conditions from time-to-time. Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions on this website. Please check this page regularly to ensure you are familiar with the current version.</p>

                <h2>Assignment</h2>
                <p>Stapfund Investment may transfer, sub-contract, or otherwise deal with Stapfund Investment's rights and/or obligations under these terms and conditions without notifying you or obtaining your consent.</p>
                <p class="mb-4">You may not transfer, sub-contract, or otherwise deal with your rights and/or obligations under these terms and conditions.</p>

                <h2>Severability</h2>
                <p class="mb-4">If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect. If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.</p>

                <h2>Entire Agreement</h2>
                <p class="mb-4">These terms and conditions, together with Stapfund Investment's Privacy Policy, constitute the entire agreement between you and Stapfund Investment in relation to your use of this website, and supersede all previous agreements in respect of your use of this website.</p>

                <h2>Law and Jurisdiction</h2>
                <p>These terms and conditions will be governed by and construed in accordance with the laws of United State of America, and any disputes relating to these terms and conditions will be subject to the exclusive jurisdiction of the courts of United States of America.</p>
            </div>
        </div>
    </div>
{% endblock content %}
