{% load static %} 

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="" />
        <meta name="author" content="" />
        {% block title %}
            <link rel="shortcut icon" href="{% static 'images/logo2.png' %}" type="image/x-icon"/>
            <title>Stapfund Investment</title>
        {% endblock %}
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"/>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
        

        <!-- Bootstrap core CSS -->
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/animated.css' %}" />
        <link rel="stylesheet" href="{% static 'css/owl.css' %}" />
    </head>

    <body>
        {% comment %} Messages alert {% endcomment %}
        {% for message in messages %}
            <div class="msgs_info py-2">
                <p class="dj_err_msg">{{message}}</p>
                <div class="close_error position-absolute text-light fs-5" style="top:5px;right:5px;cursor:pointer;"><i class="fas fa-times"></i></div>
            </div>
        {% endfor %}


        <!-- ***** Preloader Start ***** -->
        <div id="js-preloader" class="js-preloader">
            <div class="preloader-inner">
                <span class="dot"></span>
                <div class="dots">
                <span></span>
                <span></span>
                <span></span>
                </div>
            </div>
        </div>
        <!-- ***** Preloader End ***** -->

        <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky wow" data-wow-duration="0.75s" data-wow-delay="0s">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-12 px-0">
                        <nav class="main-nav">
                            <a href="{% url 'index' %}" class="logo">
                                <img src="{% static "images/logo2.png" %}" alt="" />
                            </a>                     
                            <ul class="nav" id="nav">
                                <li><a href="{% url 'index' %}#invest">Invest</a></li>
                                <li><a href="{% url 'index' %}#news">News</a></li>
                                <li><a href="{% url 'about' %}" class="">About</a></li>
                                <li><a href="#footer" class="">Contact</a></li>
                                <li><a href="{% url 'index' %}#faqs">FAQs</a></li>
                                <li>
                                    <div class="gradient-button mt-wrp d-md-flex">
                                        {% if request.user.is_authenticated %}
                                            {% block makePayment %}
                                                <a class="modal_trig text-dark me-2" href="">Dashboard  &nbsp; <i class="fas fa-th-large"></i></a>
                                            {% endblock %}
                                                <a class="text-danger fw-bold" href="{% url 'logout' %}" style="color:red !important;"><span class="d-md-none">Logout &nbsp;</span><i class="fas fa-sign-out-alt"></i></a>
                                        {% else %}
                                            <a class="modal_trigger modal_trig text-dark" href="#modal">Get Started &nbsp; <i class="fa fa-sign-in-alt"></i></a>
                                        {% endif %}
                                    </div>
                                </li>
                            </ul>
                            <a class="menu-trigger" id="menuTrigger">
                                <span>Menu</span>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </header>


        <div id="modal" class="popupContainer" style="display: none">
            <div class="popupHeader">
                <i class="fas fa-arrow-left text-primary gsba back_btn"></i> &nbsp;&nbsp; <span class="header_title">Sign Up || Sign In</span>
                <span class="modal_close"><i class="fas fa-times"></i></span>
            </div>

            <section class="popupBody p-0">
                <div class="reg_login_nav p-3 py-4">
                    <div class="action_btns">
                        <div class="one_half">
                            <a href="#" id="register_form">Sign Up &nbsp;<i class="fas fa-user-plus"></i></a>
                        </div>
                        <div class="one_half">
                            <a href="#" id="login_form">Sign In &nbsp;<i class="fas fa-sign-in-alt"></i></a>
                        </div>
                    </div>
                </div>

                <div class="user_register frm_wrp">
                    <div class="screen rounded-bottom">
                        <div class="screen__content">
                            <form id="reg_form" class="login">
                                {% csrf_token %}
                                <div class="login__field">
                                    <i class="fas fa-user"></i>
                                    <input name="full_name" type="text" class="login__input" placeholder="Full name">
                                    <p id="fnerr"></p>
                                </div>
                                <div class="login__field">
                                    <i class="fas fa-envelope"></i>
                                    <input name="email" type="email" class="login__input" placeholder="Email">
                                    <p id="emerr"></p>
                                </div>
                                <div class="login__field">
                                    <i class="fas fa-phone-alt"></i>
                                    <input name="phone" type="text" class="login__input" placeholder="Phone number" id="phoneInput">
                                    <p id="pherr"></p>
                                </div>
                                <div class="login__field">
                                    <i class="fas fa-lock"></i>
                                    <input name="password" type="password" class="login__input password" placeholder="Password" id="reg_password">
                                    <i class="fas fa-eye togglePassword"></i><i class="fas fa-eye-slash togglePassword"></i>
                                    <p id="pwderr"></p>
                                </div>
                                <div class="login__field">
                                    <i class="fas fa-lock"></i>
                                    <input name="password2" type="password" class="login__input password" placeholder="Confirm password">
                                    <i class="fas fa-eye togglePassword"></i><i class="fas fa-eye-slash togglePassword"></i>
                                    <p id="pwderr2"></p>
                                </div>
                                <div class="make-payment-btn mt-3">
                                    <button class="w-100" id="regBtn">Sign Up &nbsp;<i class="fas fa-user-plus"></i></button>
                                    <button class="w-100 loadingBtn" disable><i class="fas fa-spinner fa-spin text-white"></i></button>
                                </div>
                                <div class="forgot-pass d-flex justify-content-evenly mt-3">
                                    <a id="goto_signin" style="cursor:pointer;color:#4b8ef1;">Sign In</a>
                                    <a href="{% url 'terms_conditions' %}">Terms &amp; Condition</a>
                                </div>
                            </form>
                        </div>
                        <div class="screen__background rounded">
                            <span class="screen__background__shape screen__background__shape4"></span>
                            <span class="screen__background__shape screen__background__shape3"></span>		
                            <span class="screen__background__shape screen__background__shape2"></span>
                            <span class="screen__background__shape screen__background__shape1"></span>
                        </div>
                    </div>
                </div>

                <div class="user_login frm_wrp">
                    <div class="screen">
                        <div class="screen__content">
                            <form id="login_form" class="login">
                                {% csrf_token %}
                                <p class="" id="invaliderr"></p>
                                <div class="login__field">
                                    <i class="fas fa-envelope"></i>
                                    <input name="login_email" type="email" class="login__input" placeholder="Email">
                                    <p id="login_emerr"></p>
                                </div>
                                <div class="login__field">
                                    <i class="fas fa-lock"></i>
                                    <input name="login_password" type="password" class="login__input password" placeholder="Password">
                                    <i class="fas fa-eye togglePassword"></i><i class="fas fa-eye-slash togglePassword"></i>
                                    <p id="login_pwderr"></p>
                                </div>
                                <div class="make-payment-btn mt-3">
                                    <button class="w-100" id="loginBtn">Sign In &nbsp;<i class="fas fa-sign-in-alt"></i></button>
                                    <button class="w-100 loadingBtn2" disable><i class="fas fa-spinner fa-spin text-white"></i></button>
                                </div>
                                <div class="forgot-pass d-flex justify-content-evenly mt-3">
                                    <a id="goto_signup" style="cursor:pointer;color:#4b8ef1;">Sign Up</a>
                                    <a href="">Forgotten password?</a>
                                </div>
                            </form>
                        </div>
                        <div class="screen__background">
                            <span class="screen__background__shape screen__background__shape4"></span>
                            <span class="screen__background__shape screen__background__shape3"></span>		
                            <span class="screen__background__shape screen__background__shape2"></span>
                            <span class="screen__background__shape screen__background__shape1"></span>
                        </div>
                    <div>
                </div>

                <div class="verify_email">
                <h5 class="text-center primary-color border-bottom pb-2">Please verify your email</h5>
                <p class="fs-6 text-center mt-2">
                    A verification link have been sent to <br>
                    <b id="reg_email"></b>, <br>
                    please check your email <br>
                    and click on the link to <br>
                    complete your registration.
                </p>
                </div>
            </section>
        </div>

        {% block modal2 %}
        {% endblock %}

        <div id="modal3" class="popupContainer" style="display: none">
            <div class="popupHeader">
                {% if request.user.is_verified %}
                <i class="fas fa-arrow-left text-primary gsba back_btn"></i> &nbsp;&nbsp; <span class="header_title">Add payment Card</span>
                {% else %}
                <i class="fas fa-arrow-left text-primary gsba back_btn"></i> &nbsp;&nbsp; <span class="header_title">Verification</span>
                {% endif %}
                <span class="modal_close"><i class="fas fa-times"></i></span>
            </div>

            <section class="popupBody">
                {% if request.user.is_verified %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row mb-3 py-2">
                                <img width="400px" class="img-responsive cc-img" src="">
                            </div>
                        </div>
                        <div class="panel-body">
                            <form role="form" id="add_card">
                                {% csrf_token %}
                                <input type="hidden" id="card_type" name="card_type" value=""/>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Name On Card</label>
                                            <input name="card_owner" type="text" class="form-control" placeholder="name on card" />
                                            <p id="cownerr"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Card Number</label>
                                            <div class="card-num">
                                                <input id="cardNumber" name="card_number" type="text" class="form-control" maxlength="19" placeholder="0000 0000 0000 0000" oninput="cardNumberFunction(event)"/>
                                                <img id="cardType" src="" alt="card type"/>
                                            </div>
                                            <p id="cnumerr"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-7">
                                        <div class="form-group">
                                            <label class="hidden-xs">Exp Date</label>
                                            <input name="card_exp" type="text" id="cardExp" class="form-control" maxlength="5" placeholder="MM / YY" onkeyup="formatExpDate(event)";>
                                            <p id="cexperr"></p>
                                        </div>
                                    </div>
                                    <div class="col-5 pull-right">
                                        <div class="form-group">
                                            <label>CVV Code</label>
                                            <input name="card_cvv" type="password" class="form-control" maxlength="3" placeholder="CVV" oninput="cvvFunction(event)"/>
                                            <p id="ccvverr"></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>Set Transaction Pin</label>
                                                <input name="card_pin" type="password" class="form-control" placeholder="create a 4 digit pin" maxlength="4" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
                                                <p id="cpinerr"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-3">
                                    <div class="col-12">
                                        <input type="submit" value="Add Card" id="addCardBtn" class="btn btn-lg btn-block w-100 border-0" />
                                        <input value="Loading..." class="loadingBtn3 btn btn-lg btn-block w-100 border-0" disabled/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <div class="verify_email d-block text-center">
                    <h5 class="text-center primary-color border-bottom pb-2">Please verify your email</h5>
                    <p class="fs-6 text-center mt-2 lh-sm">
                        A verification link have been <br>
                        sent to your email please check <br>
                        your email and click on the link to <br>
                        complete your registration.
                    </p>
                    {% comment %} <a href="{% url 'resend_link' %}" class="btn btn-round btn-md py-1 px-2 mt-4">Resend link</a> {% endcomment %}
                    </div>
                {% endif %}
            </section>
        </div>

        {% block content %}

        {% endblock content %}

        <footer id="footer">
            <div class="container footer-wrp">
                <div class="row mx-auto">
                    <div class="col-12 col-md-6 col-lg-4 m-auto">
                        <div class="footer-widget footer-about-us text-center">
                            <div class="logo mt-2">
                                <a href="{% url 'index' %}">
                                    <img src="{% static "images/logo2.png" %}" alt=""/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="footer-widget">
                            <h4>Useful Links</h4>
                            <ul class="text-center">
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'index' %}#invest">Invest</a></li>
                                <li><a href="{% url 'about' %}">About Us</a></li>
                                <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                                <li><a href="{% url 'terms_conditions' %}">Terms &amp; Condition</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 mt-sm-5 mt-lg-0 col-lg-4">
                        <div class="footer-widget">
                            <h4>Contact Us</h4>
                            {% comment %} <p></p> {% endcomment %}
                            <p><a>623-202-0753</a></p>
                            <p><a>support@stapfund.com</a></p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="copyright-text">
                        <p>Copyright © Stapfund Investment 2024. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        {% block altjs %}
        {% endblock %}

        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        {% comment %} <script src="{% static 'jquery/jquery.min.js' %} "></script> {% endcomment %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %} "></script>
        <script src="{% static 'js/owl-carousel.js' %} "></script>
        <script src="{% static 'js/animation.js' %} "></script>
        <script src="{% static 'js/imagesloaded.js' %} "></script>
        <script src="{% static 'js/popup.js' %} "></script>
        <script src="{% static 'js/custom.js' %} "></script>
        <script>
            $('.msgs_info').fadeIn().delay(5000).fadeOut();
            $('.dj_err_msg').fadeIn().delay(5000).fadeOut();

            $('.close_error').click(function () {
                $('.msgs_info').hide()
                $('.dj_err_msg').hide()
            })
        </script>
    </body>
</html>



