:root {
  --marquee-width: 100vw;
  --marquee-height: 85px;
  --marquee-elements: 12; /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);

}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 50%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #fff;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #636363;
}

img {
  width: 100%;
  overflow: hidden;
}

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
}

::selection {
  background: #4b8ef1;
  color: #fff !important;
}

::-moz-selection {
  background: #4b8ef1;
  color: #fff !important;
}

.section-heading {
  position: relative;
  z-index: 2;
}

.section-heading h4 {
  color: #424242;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.section-heading h4 em {
  font-style: normal;
  color: #4b8ef1;
}

.section-heading img {
  width: 45px;
  height: 2px;
}

.section-heading p {
  margin-top: 10px;
}

.show-up {
  position: relative;
  z-index: 2;
}

.white-button a {
  display: inline-block !important;
  padding: 10px 20px !important;
  color: #4b8ef1 !important;
  text-transform: capitalize;
  font-size: 15px;
  background-color: #fff;
  border-radius: 23px;
  font-weight: 500 !important;
  letter-spacing: 0.3px !important;
  transition: all .5s;
}

.white-button a i {
  margin-left: 5px;
  font-size: 18px;
}

.white-button a:hover {
  background-color: #4b8ef1;
  color: #fff !important;
}

.text-button a {
  font-size: 15px;
}

.text-button a i {
  margin-left: 5px;
  font-size: 14px;
  transition: all .3s;
}

.text-button a:hover i {
  margin-left: 8px;
}

.gradient-button a,
.gradient-button button,
.one_half a {
  display: inline-block;
  padding: 10px 20px !important;
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  background: linear-gradient(105deg, rgba(91,104,235,1) 0%, rgba(40,225,253,1) 100%);
  border-radius: 23px;
  font-weight: 500 !important;
  letter-spacing: 0.3px !important;
  transition: all .5s;
}

.gradient-button button {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 10.4px !important;
  color: rgb(230, 48, 48);
  margin-left: 15px;
}

.gradient-button button:hover{
  background: rgb(230, 48, 48) !important;
  color: #fff;
}

.gradient-button .logout-spinner {
  background: rgb(230, 48, 48) !important;
  color: #fff;
}

.gradient-button a:hover,
.one_half a:hover {
  color: #fff;
  background: linear-gradient(105deg, rgba(40,225,253,1) 0%, rgba(91,104,235,1) 100%);
}

.border-button a {
  display: inline-block !important;
  padding: 10px 20px !important;
  color: #4b8ef1 !important;
  border: 1px solid #4b8ef1;
  text-transform: capitalize;
  font-size: 15px;
  display: inline-block;
  background-color: #fff;
  border-radius: 23px;
  font-weight: 500 !important;
  letter-spacing: 0.3px !important;
  transition: all .5s;
}

.border-button a:hover {
  background-color: #4b8ef1;
  color: #fff !important;
}


/* 
---------------------------------------------
header
--------------------------------------------- 
*/

.background-header {
  background-color: #fff !important;
  height: 60px!important;
  border-bottom: none !important;
  position: fixed!important;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 5px 8px rgba(0,0,0,0.03);
}

.background-header .logo,
.background-header .main-nav .nav li a {
  color: #fff;
}

.background-header .main-nav .nav li:hover a {
  color: #4b8ef1;
}

.background-header .nav li a.active {
  position: relative;
  color: #fff;
}

.background-header .nav li a.active:after {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #4b8ef1;
  content: '';
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
}

.background-header .nav li:last-child a.active:after {
  background-color: transparent;
}

.header-area {
  background-color: transparent;
  border-bottom: 1px solid rgba(42,42,42,0.2);
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 60px;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.header-area .main-nav {
  min-height: 60px;
  background: transparent;
}

.header-area .main-nav .logo {
  float: left;
  margin-left: 0;
  margin-top: 14px;
  padding-left: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo img {
  width: 110px;
}

.header-area .main-nav .nav {
  float: right;
  margin-right: 0;
  margin-top: 20px;
  padding-right: 30px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}

/* .header-area .main-nav .nav li:nth-child(6) {
  padding-right: 0px;
  padding-left: 40px;
} */

.header-area .main-nav .nav li .dashlog a,
.background-header .main-nav .nav li .dashlog a,
.header-area .main-nav .nav li .daslog a,
.background-header .main-nav .nav li .dashlog a {
  padding: 0px 20px !important;
  font-weight: 400;
}

.header-area .main-nav .nav li .dashlog a:hover,
.background-header .main-nav .nav li .dashlog a:hover,
.header-area .main-nav .nav li .dashlog a:hover,
.background-header .main-nav .nav li .dashlog a:hover {
  color: #fff !important;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 15px;
  color: rgba(0, 0, 0, .7);
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
  color: #4b8ef1!important;
}

.header-area .main-nav .nav li:last-child a.active {
  color: #fff !important;
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
  color: #4b8ef1!important;
  opacity: 1;
}

.header-area .main-nav .nav li.submenu {
  position: relative;
  padding-right: 30px;
}

.header-area .main-nav .nav li.submenu:after {
  font-family: FontAwesome;
  content: "\f107";
  font-size: 12px;
  color: rgba(0, 0, 0, .7);
  position: absolute;
  right: 18px;
  top: 12px;
}

.background-header .main-nav .nav li.submenu:after {
  color: rgba(0, 0, 0, .7);
}

.header-area .main-nav .nav li.submenu ul {
  position: absolute;
  width: 200px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  top: 50px;
  opacity: 0;
  transform: translateY(+2em);
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.header-area .main-nav .nav li.submenu ul li {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.header-area .main-nav .nav li.submenu ul li a {
  opacity: 1;
  display: block;
  background: #f7f7f7;
  color: rgba(0, 0, 0, .7)!important;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #eee;
}

.header-area .main-nav .nav li.submenu ul li a:hover {
  background: #fff;
  color: #4b8ef1!important;
  padding-left: 25px;
}

.header-area .main-nav .nav li.submenu ul li a:hover:before {
  width: 3px;
}

.header-area .main-nav .nav li.submenu:hover ul {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 25px;
  width: 25px;
  height: 32px;
  text-indent: -9999em;
  z-index: 99;
  right: 25px;
  display: none;
}

.background-header .main-nav .menu-trigger {
  top: 25px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: rgba(0, 0, 0, .7);
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: rgba(0, 0, 0, .7);
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: rgba(0, 0, 0, .7);
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: rgba(0, 0, 0, .7);
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: rgba(0, 0, 0, .7);
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: rgba(0, 0, 0, .7);
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: rgba(0, 0, 0, .7);
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: rgba(0, 0, 0, .7);
}

.header-area.header-sticky {
  min-height: 80px;
}

.header-area.header-sticky .nav li a.active {
  color: #4b8ef1;
}

.mt-wrp .modal_trig {
  color: #fff !important;
}

/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/

.js-preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.js-preloader.loaded {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@-webkit-keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@-webkit-keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

@keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

.preloader-inner {
    position: relative;
    width: 142px;
    height: 40px;
    background: #fff;
}

.preloader-inner .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    background: #4b8ef1;
    border-radius: 50%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation: dot 2.8s infinite;
    animation: dot 2.8s infinite;
}

.preloader-inner .dots {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    -webkit-animation: dots 2.8s infinite;
    animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    background: #4b8ef1;
    border-radius: 50%;
}



/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/

.main-banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 250px 120px 150px 30px;
  position: relative;
  overflow: hidden;
}

.main-banner:after {
  content: '';
  background-image: url('../images/slider-left-dec.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: .7;
  z-index: 1;
}

.main-banner .left-content {
  margin-right: 15px;
}

.main-banner .left-content h2 {
  color: #062553;
  z-index: 2;
  position: relative;
  font-weight: 700;
  line-height: 1.2em;
  font-size: 3em;
  margin-bottom: 15px;
}

.main-banner .left-content p {
  margin-bottom: 45px;
  color: #2a2a2a;
  font-weight: 400;
  line-height: 20px;
}

.make-payment-btn button {
  border: none;
  outline: none;
  background-color: #fff;
  color: #4b8ef1;
  padding: 8px 30px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0 .35em .35em #4b8ef1;
}

.make-payment-btn button:hover {
  transform: translateY(-1px);
  box-shadow: 0 .25em .25em #fff;
  background-color: #4b8ef1;
  color: #fff;
  transition: 2 sec;
}

.main-banner .left-content .first-button {
  margin-right: 15px;
}

.main-banner .left-content .white-button {
  display: inline-block;
}

.main-banner .right-image {
  text-align: center;
  position: relative;
  z-index: 20;
}

.main-banner .right-image img {
  max-width: 710px;
}

.main-banner .left-content .white-button a {
  background-color: #4b8ef1;
  color: #fff !important;
}

/*
---------------------------------------------
About Us
---------------------------------------------
*/

.about-us {
  padding-top: 80px;
  position: relative;
}

.about-us .section-heading {
  margin-bottom: 45px;
}

.about-us .section-heading,
.about-us .box-item,
.about-us p,
.about-us .box-item .gradient-button,
.about-us .box-item span {
  position: relative;
  z-index: 1;
}

.about-us .aup {
  line-height: 22px;
}

.about-us .box-item {
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
}

.about-us .box-item img {
  height: 120px;
  width: 120px;
  object-fit: contain;
  border-radius: 50%;
  margin-bottom: 15px;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
}

.about-us .box-item h4 {
  font-size: 16px;
  font-weight: 500;
  color: #004fc5;
  transition: all .3s;
}

.about-us .box-item p {
  margin-bottom: 0px;
}

.about-us .box-item:hover h4 {
  color: #004fc5;
}

.about-us .gradient-button {
  margin-top: 30px;
  margin-bottom: 10px;
}

.about-us span {
  font-size: 14px;
  color: #7a7a7a;
}

.about-us .right-image {
  position: relative;
  z-index: 1;
  margin: 0 auto;
}


/* =========== ABOUT US ========== */

.about-section {
  background-image: url('../images/about-us2.png');
  background-size: cover;
  background-position: center;
  padding: 60px 0;
  position: relative;
}
.about-section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
.about-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  animation: fadeInDown 1s;
  z-index: 9;
  position: relative;
  color: #062553;
}
.about-section p {
  font-size: 18px;
  line-height: 1.6;
  animation: fadeInUp 1s;
  z-index: 9;
  position: relative;
  color: #062553;
  font-weight: 400;
}
.mission-vision-section {
  background: #fff;
  padding: 60px 0;
}
.mission-vision-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  animation: fadeInDown 1s;
}
.mission-vision-section p {
  font-size: 18px;
  line-height: 1.6;
  animation: fadeInUp 1s;
}
@keyframes fadeInDown {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* ================================= */

.flex-container {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  flex-wrap: wrap;
  margin: 80px 0;
}

.flex-item {
  position: relative;
  width: 400px; 
  height: 500px; 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 25px auto;
}

.flex-item .fa-spinner {
  font-size: 28px;
  color: #4b8ef1;
}

.invest .row {
  position: relative;
  background-image: url('../images/go-up.png');
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invest .row .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
}

.invest .row .m-auto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.invest .card {
  width: 250px; /* Set your desired width */
  height: 320px; /* Set your desired height */
}

.invest .card-body {
  position: relative;
}

.invest .card-title {
  font-size: 26px;
  font-weight: 500;
  color: rgba(0, 0, 0, .7);
}

.invest .card-title {
  text-align: center;
}

.invest .card-title span {
  font-size: 18px;
}

.invest .card-body hr {
  color: #062553;
  height: 2px;
}

.invest .card-body h6 {
  font-size: 38px;
  color: #062553;
  font-weight: 700;
  text-align: center;
  margin: 15px auto;
}

.invest .card-body h6 span {
  font-size: 18px;
  font-weight: 500;
  color: #062553;
}

.invest .card-body p {
  font-size: 15px;
  font-weight: 400;
  color: #062553;
}

.invest .card-body button {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 5px;
  font-weight: 500;
  color: #fff;
  background: rgb(19,175,240);
  background: linear-gradient(105deg, rgba(91,104,235,1) 0%, rgba(40,225,253,1) 100%);
}

.invest .card-body button:hover {
  padding: 12px 5px;
  background: rgb(19,175,240);
  background: linear-gradient(105deg, rgba(40,225,253,1) 0%, rgba(91,104,235,1) 100%);
}

.why-us .row {
  position: relative;
  background-image: url('../images/invest.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #062553;
}

.why-us .row .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.89);
}

.why-us p {
  font-size: 16px;
  font-weight: 400;
  
}

.section .testimonial {
  position: relative;
  background-image: url('../images/tes-bg.png');
  background-size: cover;
  background-position: center;
}

.testimonial .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
}

.testimonial h2 {
  /* position: absolute; */
  color: #fff;
}

#testimonialCarousel {
  transform: translateY(150px);
}

#testimonialCarousel small {
  font-weight: 400;
  font-style: italic;
}

/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

footer {
  background-image: url('../images/footer-bg.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 130px;
  padding-top: 300px;
  padding-bottom: 60px;
}

.footer-widget .logo img {
  width: 200px;
  margin-bottom: 20px;
}

.footer-widget h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer-widget p {
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer-widget p,
.footer-widget p a {
  color: #fff;
}

.footer-widget ul {
  display: block;
  width: 100%;
  float: none;
  text-align: center;
  margin: 0 auto;
}

.footer-widget ul li {
  margin-bottom: 5px;
}

.footer-widget ul li:last-child {
  margin-bottom: 0px;
}

.footer-widget ul li a {
  font-size: 15px;
  color: #fff;
  transition: all .3s;
}

.footer-widget a:hover {
  opacity: 0.75;
}

footer .copyright-text p {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
  color: #fff;
}

footer p a {
  color: #fff;
  transition: all .5s;
}

footer p a:hover {
  opacity: 0.75;
  color: #fff;
}

.footer-about-us h4,
.footer-about-us p {
  text-align: left;
}

/*
---------------------------------------------
PopUp
---------------------------------------------
*/

#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}

.popupContainer,
.verify_email,
.add_user,
.forgot_password {
  position: absolute;
  width: 360px;
  height: auto;
  top: 0;
  left: 50%;
  background: #FFF;
  border-radius: 20px;
  overflow: hidden;
  transform: translateX(-50%);
  transform: translateY(-55px);
}

.edit_profile,
.change_password {
  width: 360px;
  height: auto;
  background: #FFF;
  border-radius: 20px;
  overflow: hidden;
}

.btn {
  padding: 10px 20px;
  background: #4b8ef1;
  color: #fff;
  transition: all .3s;
}

.btn_red {
  background: linear-gradient(105deg, rgba(91,104,235,1) 0%, rgba(40,225,253,1) 100%);
  color: #FFF;
}

.btn:hover {
  background: linear-gradient(105deg, rgba(40,225,253,1) 0%, rgba(91,104,235,1) 100%);
}

.btn_red:hover {
  color: #2a2a2a;
  background: #E4E4E2;
}

a.btn {
  color: #fff;
  text-align: center;
  text-decoration: none;
}

a.btn_red {
  color: #FFF;
}

.action_btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.one_half a {
  padding: 10px 22px !important;
}



/* Popup Styles*/
.popupHeader {
  color: #fff;
  background: linear-gradient(105deg, rgba(91,104,235,1) 0%, rgba(40,225,253,1) 75%, rgba(91,104,235,1) 100%);
  position: relative;
  padding: 11px 20px;
  border-bottom: 1px solid #DDD;
  font-weight: bold;
  font-size: 18px;
  border-radius: 12px 12px 0 0;
}

.popupHeader .modal_close,
.screen .fa-times {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 15px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}

.popupHeader .gsba {
  cursor: pointer;
}

.popupBody {
  padding: 20px;
}

.popupHeader.disable {
  display: none;
}


.centeredText {
  color: #afafaf;
  text-align: center;
  margin: 20px 0;
  clear: both;
  overflow: hidden;
  text-transform: capitalize;
}

#loader_wrp {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader2 {
  width: 40px;
  height: 40px;
  border:10px solid #FFF;
  border-radius: 50%;
  position: relative;
  transform:rotate(45deg);
  /* box-sizing: border-box; */
}
.loader2::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  inset:-10px;
  border-radius: 50%;
  border:7px solid #4b8ef1;
  animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

/* ================ALERT=============== */
.msgs_info {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px 5px;
  background-color: #4b8ef1;
  border-radius: 7px;
  width: 300px;
  z-index: 999999;
}

.msgs_info p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: rgb(255, 255, 255);
}

.alertify-notifier {
  z-index: 99999;
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
}

.alertify-notifier .ajs-message {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 7px;
  padding: 7px;
  background-color: #4b8ef1;
}
.alertify-notifier .ajs-message.ajs-success {
  color: #fff;
  background: #16b316;
}
.alertify-notifier .ajs-message.ajs-error {
  color: #fff;
  background: #ee5135;
}
.alertify-notifier .ajs-message.ajs-warning {
  background: #01377e;
  border-color: #999;
}


/*Scrolling banner*/
.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-image: url('../images/invest.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.marquee .m-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .85);
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
.marquee-content:hover {
  animation-play-state: paused;
}
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: 14px;
  white-space: nowrap;
  padding: 0 20px;
}

.marquee-content li img {
  width: 100px;
}

@media (max-width: 600px) {
  :root {
      --marquee-elements-displayed: 3;
  }
}


/* ============ invest page ================= */
.slider-wrp {
  width: 60vw;
  height: 80vh;
}

.slider-wrp {
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.slider {
  position: absolute;
  width: 100%;
  height: 550px;
  transition: transform 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  padding: 50px 80px 40px 80px;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-image: url('../images/hero5.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider .slider-layer {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.slider.active {
  opacity: 1;
  visibility: visible;
}

.slide-in-right {
  transform: translateX(100%);
}

.slide-in-left {
  transform: translateX(-100%);
}

.slide-out-left {
  transform: translateX(-100%);
}

.slide-out-right {
  transform: translateX(100%);
}

.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider-container h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  font-size: 32px;
  border-bottom: 0.5px solid #01377e;
  font-weight: 500;
  color: #01377e;
}

.slider-container .slider-content {
  width: 100%;
  height: 70%;
}

.slider-content .scl {
  background: radial-gradient(circle, rgba(255,255,255,1) 35%, rgba(91,104,235,1) 80%, rgba(255,255,255,1) 100%);
  border-radius: 50%;
  padding: 100px 40px;
}

.slider-content .scl h1 {
  margin: 0;
  padding: 0;
  font-size: 5rem;
  font-weight: 900;
  color: rgba(91,104,235,1);
}

.slider-content .scl h3 {
  font-size: 26px;
  color: #01377e;
  padding: 0;
  margin: 0;
  border: none;
}

.slider-content .scr ul li {
  list-style-type: square;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2rem;
  color: #01377e;
  margin-bottom: 20px;
}

.slider-content .scr ul li span {
  text-transform: capitalize;
}

.slider-content .scr ul small {
  font-weight: 400;
}

#slider3 #sel_method,
  #slider3 #sel_address {
    font-size: 22px;
  }

.slider-container button {
  border: none;
  outline: none;
  text-decoration: none;
  padding: 3px 25px;
  border-radius: 7px;
  color: #fff;
  font-weight: 400;
  background: rgb(19,175,240);
  background: linear-gradient(105deg, rgba(91,104,235,1) 0%, rgba(40,225,253,1) 100%);
}

.slider-container #paid {
  font-size: 18px;
  font-weight: 500;
  padding: 12px 60px;
}

.slider-container #paid:hover {
  background: linear-gradient(105deg, rgba(40,225,253,1) 0%, rgba(91,104,235,1) 100%);
}

.slider-container #paid:disabled {
  color: #01377e;
  background: rgb(155, 225, 255);
  cursor: not-allowed;
}

.slider-container #changePlan,
.slider-container #next1,
.slider-container #next2,
.slider-container #back2,
.slider-container #back3,
.slider-container #paid {
  position: absolute;
  bottom: 0;
}

.slider-container #back2,
.slider-container #back3 {
  left: 0;
  background: rgb(255, 184, 184);
  color: #333;
}

.slider-container #next1,
.slider-container #next2,
.slider-container #paid {
  right: 0;
}

.slider-content .csl img {
  width: 200px;
}

/* ========== Enter Amount &  CUSTOM SELECT ======= */
.amount-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 45px;
}
.amount-container label {
  margin-bottom: 4px;
  font-size: 16px;
}
.amount-container input {
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}
.custom-select {
  position: relative;
  width: 100%;
}
.amount-container .error,
.custom-select .error {
  color: red;
  font-size: 12px;
  margin-top: 3px;
  position: absolute;
  left: 0;
  bottom: -20px;
}

select {
  display: none;
}

.custom-select-trigger {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
.custom-select-trigger:after {
  content: "▼";
  font-size: 12px;
  margin-left: 10px;
}

.custom-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
  max-height: 150px;
  overflow-y: auto;
  z-index: 100;
}
.custom-options div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
}
.custom-options div:hover {
  background-color: #f0f0f0;
}
.custom-select.open .custom-options {
  display: block;
}

.pay-img {
  display: none;
}



/* ========== MODAL ========= */
.plan-details .modal-content {
  padding: 30px 20px;
}

.plan-details h5 {
  font-size: 32px;
  font-weight: 500;
  color: #062553;
}

.plan-details h5 span {
  font-size: 20px;
}

.plan-details .modal-body p {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 8px;
}

.plan-details .modal-body p:first-child {
  margin-bottom: 30px;
}

.plan-details .modal-footer a {
  text-decoration: none;
  color: #fff;
  padding: 7px 25px;
  cursor: pointer;
  background: rgb(19,175,240);
  background: linear-gradient(105deg, rgba(91,104,235,1) 0%, rgba(40,225,253,1) 100%);
}

.plan-details .modal-footer a:hover {
  padding: 7px 50px;
  background: rgb(19,175,240);
  background: linear-gradient(105deg, rgba(40,225,253,1) 0%, rgba(91,104,235,1) 100%);
}


/* =============== Intro =============== */
.header-area .nav li:first-child {
  display: none;
}


/* ============ Register / Login =========== */
.form_wrp {
  display: none;
}

.form_wrp input,
.form_wrp2 input {
  width: 100%;
  padding: 10px;
  padding-left: 35px;
  border: 1.5px solid #DDD;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 7px;
  color: #444;
  font-weight: 400;
	transition: .2s;
  outline: none;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-color: rgba(40,225,253,1);
}

.screen {		
  background: linear-gradient(105deg, rgba(91,104,235,.2) 0%, rgba(40,225,253,.2) 100%);		
	position: relative;	
	width: 360px;
  padding-top: 60px;
  padding-bottom: 20px;
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.3);
}

.screen .fa-times {
  color: #004fc5;
  z-index: 99999;
  cursor: pointer;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__content h3 {
	padding: 0;
  margin: 0 0 10px 0;
  line-height: 0;
  text-align: center;
  font-weight: 600;
  color: #01377e;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.screen__content #invaliderr {
  text-align: center;
  width: 200px;
  font-size: 16px;
  color: rgb(250, 0, 0);
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  padding: 0 15px;
  margin: -10px auto 20px auto;
  border-radius: 15px;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);
  border-radius: 20px;
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
  border-radius: 20px;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
  background: linear-gradient(105deg, rgba(91,104,235,.2) 0%, rgba(40,225,253,.2) 100%);		
	top: -172px;
  right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
  background: linear-gradient(105deg, rgba(91,104,235,.2) 0%, rgba(40,225,253,.2) 100%);		
	top: -24px;
  right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
  background: linear-gradient(105deg, rgba(91,104,235,.2) 0%, rgba(40,225,253,.2) 100%);		
	top: 420px;
  right: 50px;	
	border-radius: 60px;
}

.login {
	width: 100%;
	padding: 40px 30px;
}

.login__field {
	padding: 0 0 28px 0;
	position: relative;	
}

.login__field i {
	position: absolute;
	top: 15px;
  left: 10px;
	color: rgba(91,104,235,1);
}

.login__field .fa-eye, 
.login__field .fa-eye-slash {
  left: 90%;
	color: #444;
  cursor: pointer;
}

.login__field .fa-eye-slash {
  display: none;
}

.login__field p {
	position: absolute;	
  left: 0;
  bottom: 5px;
  font-size: 12px;
  color: rgb(250, 0, 0);
  font-weight: 400;
}

.screen__content .make-payment-btn button {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background: linear-gradient(105deg, rgba(91,104,235,1) 0%, rgba(40,225,253,1) 100%);
  box-shadow: 0 0 20px 5px #fff;
  padding: 10px 30px;

  border-radius: 40px;
}


/* ==========LeanOverlay============= */
#lean_overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: 999;
  display: none;
}


/* =========== Not Found=========== */
.not-found {
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  overflow: hidden;
}

.not-found img {
  width: 500px;
  height: auto;
}



/* =====================Dashboard=================== */
/* Dashboard Layout */
.dashboard {
  display: flex;
  position: relative;
  min-height: 100vh;
}

/* Sidebar Trigger */
#sidebar_trigger {
  position: absolute;
  top: -500px;
  left: -500px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(0, 7, 82, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 999;
}
#sidebar_trigger2 {
  position: absolute;
  top: -500px;
  left: -500px;
  font-size: 32px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #1A2A3A;
  color: white;
  padding: 20px;
  transition: background 0.3s;
}

.sidebar .user {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
}

.sidebar .user img {
  width: 50px;
}

.sidebar nav a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  transition: background 0.3s;
  cursor: pointer;
}

.sidebar nav a:hover,
.dash-navs.active {
  background: linear-gradient(105deg, rgba(91,104,235,1) 0%, rgba(40,225,253,1) 100%);
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 0 20px;
  margin-bottom: 50px;
}

.dash-tabs {
  display: none;
}

.dash-tabs.active {
  display: block;
}

.main-content h4 {
  color: #062553;
  text-align: center;
}

.main-content .dash-btn {
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  background: linear-gradient(180deg, rgba(91,104,235,1) 60%, rgba(40,225,253,1) 100%);
  padding: 0 10px;
  line-height: 30px;
  border-radius: 7px;
}

.main-content .dash-btn:hover {
  background: linear-gradient(180deg, rgba(91,104,235,1) 0, rgba(40,225,253,1) 100%);
}

.main-content .add-user-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* Cards */
.dash-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.dash-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.t-users {
  background-color: #a217dd; 
}
.t-invest {
  background-color: #1e8fdb; 
}
.t-roi {
  background-color: #19cf65;;
}

.dash-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.dash-card i {
  font-size: 30px;
  margin-bottom: 10px;
  color: #60fff7;
}

.dash-card h5 {
  font-weight: 400;
  color: #60fff7;
}

.dash-card h3 {
  line-height: 40px;
  font-weight: 600;
  color: #fff;
}

.chart-container {
  margin-top: 20px;
}

/* Table Container */
.table-container {
  border-radius: 10px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 15px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #e6e6e6;
}

.table th {
  background: linear-gradient(180deg, rgba(91,104,235,1) 10%, rgba(40,225,253,1) 100%);
  color: #fff;
  font-size: 15.5px;
  font-weight: 600;
  text-transform: uppercase;
}

.table td {
  color: #333;
  background-color: #fff;
}

.table-striped tbody tr:nth-child(odd) {
  color: #333;
  background-color: #b2d9ff;
}

.table-hover tbody tr:hover {
  background-color: #3498db;
}

.table .email-col {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tbody .fa-trash-alt,
tbody .fa-times-circle {
  color: rgb(209, 27, 27);
  cursor: pointer;
}

tbody .fa-times-circle {
  transform: scale(1.3);
}

tbody .fa-edit {
  color: #004fc5;
  cursor: pointer;
  transform: scale(1.3);
}

tbody .fa-check-circle {
  color: #26da02;
  cursor: pointer;
  transform: scale(1.3);
}

tbody .fa-trash-alt:hover,
tbody .fa-times-circle:hover,
tbody .fa-edit:hover,
tbody .fa-check-circle:hover {
  transform: scale(1.5);
}

.edit-package {
  width: 100%;
  position: relative;
  display: none;
}

#editPackageForm {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}

.edit-package button {
  position: absolute;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(91,104,235,1) 50%, rgba(40,225,253,1) 100%);
}

.edit-package button:hover {
  background: linear-gradient(180deg, rgba(91,104,235,1) 0%, rgba(40,225,253,1) 100%);
}





